Repository WeBankFinTech/Prophecis, pull requests merged in 2021-03, with the labels that each got.

#11 Add Prophecis-DI CLI Module
  di/cli/cmd/common.go
  di/cli/cmd/delete.go
  di/cli/cmd/download.go
  di/cli/cmd/download_completion.go
  di/cli/cmd/halt.go
  di/cli/cmd/init.go
  di/cli/cmd/init_completion.go
  di/cli/cmd/list.go
  di/cli/cmd/loglines.go
  di/cli/cmd/loglines_completion.go
  di/cli/cmd/logs.go
  di/cli/cmd/logs_completion.go
  di/cli/cmd/model_id_completion.go
  di/cli/cmd/show.go
  di/cli/cmd/train.go
  di/cli/cmd/train_completion.go
  di/cli/cmd/version.go
  di/cli/main.go
  di/cli/metadata/commands.go
Labels: component=Prophecis/DI/cli, type=NewFeature

#14 Add Prophecis-DI Storage Module
  di/storage/Dockerfile
  di/storage/client/client.go
  di/storage/client/jobstatus_client.go
  di/storage/client/training_status.go
  di/storage/docker/certs/ca.crt
  di/storage/docker/certs/client.crt
  di/storage/docker/certs/client.csr
  di/storage/docker/certs/client.key
  di/storage/docker/certs/server.crt
  di/storage/docker/certs/server.csr
  di/storage/docker/certs/server.key
  di/storage/main.go
  di/storage/storage/datetimeutils.go
  di/storage/storage/frameworks.go
  di/storage/storage/grpc_storage/storage.pb.go
  di/storage/storage/grpc_storage/storage.proto
  di/storage/storage/logging.go
  di/storage/storage/mongo.go
  di/storage/storage/queue.go
  di/storage/storage/repository.go
  di/storage/storage/storage_impl.go
  di/storage/storage/storage_impl_test.go
Labels: component=Prophecis/DI/Storage, type=NewFeature

#15 add minio and log collector helm chart
  helm-charts/LogCollectorDS/FluentBit.yaml
  helm-charts/LogCollectorDS/LogConfigmap.yml
  helm-charts/MinioDeployment/Chart.yaml
  helm-charts/MinioDeployment/OWNERS
  helm-charts/MinioDeployment/README.md
  helm-charts/MinioDeployment/ci/distributed-values.yaml
  helm-charts/MinioDeployment/templates/NOTES.txt
  helm-charts/MinioDeployment/templates/_helper_create_bucket.txt
  helm-charts/MinioDeployment/templates/_helpers.tpl
  helm-charts/MinioDeployment/templates/configmap.yaml
  helm-charts/MinioDeployment/templates/deployment.yaml
  helm-charts/MinioDeployment/templates/ingress.yaml
  helm-charts/MinioDeployment/templates/networkpolicy.yaml
  helm-charts/MinioDeployment/templates/poddisruptionbudget.yaml
  helm-charts/MinioDeployment/templates/post-install-create-bucket-job.yaml
  helm-charts/MinioDeployment/templates/post-install-prometheus-metrics-job.yaml
  helm-charts/MinioDeployment/templates/post-install-prometheus-metrics-role.yaml
  helm-charts/MinioDeployment/templates/post-install-prometheus-metrics-rolebinding.yaml
  helm-charts/MinioDeployment/templates/post-install-prometheus-metrics-serviceaccount.yaml
  helm-charts/MinioDeployment/templates/pv.yaml
  helm-charts/MinioDeployment/templates/pvc.yaml
  helm-charts/MinioDeployment/templates/secrets.yaml
  helm-charts/MinioDeployment/templates/service.yaml
  helm-charts/MinioDeployment/templates/serviceaccount.yaml
  helm-charts/MinioDeployment/templates/servicemonitor.yaml
  helm-charts/MinioDeployment/templates/statefulset.yaml
  helm-charts/MinioDeployment/values.yaml
Labels: component=Prophecis/helm-chart

#16 Update Doc & Setting
  cc/sql/prophecis-data.sql
  docs/zh_CN/QuickStartGuide.md
  helm-charts/Prophecis/values.yaml
  helm-charts/k8s 1.18.6/notebook-controller/templates/notebook-controller-0.5.1.yaml
Labels: bug, documentation

#17 Update UI module
  ui/i18n-config.json
  ui/public/static/env-config.js
  ui/src/components/AlarmSetting.vue
  ui/src/components/CreateGPU.vue
  ui/src/components/StoragePathAide.vue
  ui/src/components/Upload.vue
  ui/src/components/sidebarConfig.js
  ui/src/router/index.js
  ui/src/util/handleDIDetailMixin.js
  ui/src/util/handleDIJobMixin.js
  ui/src/views/AIDE/index.vue
  ui/src/views/DI/DetailLog.vue
  ui/src/views/DI/JobDetail.vue
  ui/src/views/DI/index.vue
  ui/src/views/Home.vue
  ui/src/views/Login.vue
  ui/src/views/NoAccess.vue
  ui/vue.config.js
Labels: component=Prophecis/DI/ui, type=NewFeature

#18 Add Remote Debug Guide
  docs/zh_CN/ProprocisRemoteDebugGuide.md
  helm-charts/Prophecis/values.yaml
Labels: documentation
